:root {
	font-family: Ubuntu, Roboto, sans-serif;
	font-size: 1rem;

	/* Colors */
	--color-bg: #101119;
	--color-theme-1: #6b6b73;
	--color-theme-2: #e4805d;
	--color-theme-3: #bd6abb;
	--color-theme-4: #69b89f;
	--color-theme-5: #e0e3ec;
	--color-light: #ffffff;
	--color-dark: #000000;
	--background-paper: #dcdae3;

	color: var(--color-theme-5);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-bg);
}

html,
body {
	width: 100%;
	height: 100%;
	color: var(--color-theme-5);

	scrollbar-width: thin;
	scrollbar-color: var(--color-theme-1) var(--background-paper);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--color-theme-5);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

.content-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	margin-top: 150px;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
